.collection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vote-box{
    display: flex;
    align-items: center;
}

.material-icons{
    cursor: pointer;
    margin: 5px
}