<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product | Pokeshop</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/admin/products">Products</a></li>
                <li><a href="/admin/products/lead">Lead Product</a></li>
                <li><a href="/version">Stable App Version</a></li>
                <li><a href="/version?latest=true">Latest App Version</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Add a new product!</h1>
        <form method='POST' action='/admin/products'>
            <label for="product">
                Product Name
                <input type='text' id="product" name="product" />
            </label>
            <button type='submit'>Submit</button>
        </form>
    </main>
</body>

</html>